{% extends "base.html" %}
{% block head_content %}
<title>Modificar Orden</title>
{% endblock %}


{% block container %}
<div class="titles-capratex">
    <h1>Modificar Orden</h1>
</div>
<div class="div-form-capratex">
    <form accion="" method="POST">
        {% csrf_token %}
        <div class="form-group row form-capratex">
            <table>
                {{form.as_table}}
            </table>
            <button class="btn btn-primary mt-3" type="submit">Guardar</button>
            <a class="btn btn-primary mt-3" href="{% url 'order:orders' %}">Regresar</a>
        </div>
    </form>
</div>
{% endblock %}