:root {
    --white: #fafafa;
    --blue-light:#E3F2FD;
    --blue-medium: #98D3FD;
    --blue-dark: #4B687D;
    --dark: #70787D;
    --dark-light: #70787D;
    --dark: #4B687D;
}

html, body {
    background: var(--white);
    height: 100%;
    width: 100%;
    font-family: 'Roboto', sans-serif;
}


h1, h2, h3 {
    color: var(--blue-medium);
}

.titles-capratex{
    text-align: center;
}

.titles-capratex-sub {
    text-align: center;
}

.titles-capratex-sub h1{
    color: var(--blue-dark);
}

/* Menus */
.name-button{
    height: 225px; 
    width: 100%; 
    background-color: var(--blue-dark);
    display: grid;
    align-items: center;
    align-self: auto;
    overflow:auto;
    
}

.menu-option-capratex {
    text-align: center;
    margin-left: 10%;
    margin-right: 10%;
    width: 80%;
    color: var(--blue-light);
    white-space: normal;
}

.name-button-sub {
    height: 225px; 
    width: 100%; 
    background-color: var(--blue-light);
    display: grid;
    align-items: center;
    align-self: auto;
    overflow:auto;
    
}


.menu-option-capratex-sub {
    text-align: center;
    margin-left: 10%;
    margin-right: 10%;
    width: 80%;
    color: var(--blue-dark);
    white-space: normal;
}

.text-button{
    height: 130px; 
    width: 100%; 
    overflow:auto;
    text-overflow: ellipsis; 
    
}

/* Froms */

.form-capratex {
    margin: 0% 25% 0% 25%;
}

.div-form-capratex {
    margin-top: -7%;
}

/* Images */

.img-capratex img{
    height: 100%;
    width: 100%;
}

#main-navbar {
    background-color: var(--blue-light);
    padding: 0%
}

.nav-icon li {
    color: var(--dark);
    font-size: 23px;
    display: block;
}
.nav-icon li:hover {
    background-color: var(--blue-medium);
}

.row {
    margin-top: 10%;
}

.mt-3 {
    margin-top: 30%;
}

.titles-capratex{
    text-align: center;
}

/* Tables */
table {     
    font-size: 14px;
    margin: 0px;
    width: 100%;
    text-align: center;
    border-collapse: collapse; 
}

th {     
    font-size: 13px;
    font-weight: normal;
    padding: 8px;
    background: var(--blue-medium);
    color: var(--blue-dark); 
    border: 1px solid  var(--dark);
}
td {
    padding: 8px;
    background: var(--blue-light);
    border-bottom: 1px solid var(--dark);
    color: var(--blue-dark);
    border: 1px solid  var(--dark);
}

tr:hover td { 
    background: var(--dark-light); 
    color: var(--white); 
}