{% load static %}
<nav class="navbar navbar-expand-lg" id="main-navbar">
    <div class="container">

        <a class="navbar-brand pr-5" href="{% url 'home' %}">
            <img src="{% static 'img/LOGO-CAPRATEX.png' %}" height="60" class="d-inline-block align-top" />
        </a>
        <div class="nav-icon navbar-light" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link" href="{% url 'home' %}">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'order:panel' %}">Ordenes</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Otro</a>
                </li>
            </ul>
        </div>
    </div>
</nav>