{% extends "base.html" %}
{% block head_content %}
<title>Filtros</title>
{% endblock %}


{% block container %}
<div class="titles-capratex">
    <h1>Filtros para consulta</h1>
</div>
<div class="div-form-capratex">
    <form accion="" method="POST">
        {% csrf_token %}
        <div class="form-group row form-capratex">
            <label class="col-sm-2 col-form-label">Desde</label>
            <div class="col-sm-10">
                <input class="form-control" type="date" placeholder="Fecha" name="date">
            </div>
            <label class="col-sm-2 col-form-label">ID Orden</label>
            <div class="col-sm-10">
                <input class="form-control" type="number" placeholder="ID Orden" name="id_order" id="id_order">
            </div>
            <label class="col-sm-2 col-form-label">Cliente</label>
            <div class="col-sm-10">
                <input class="form-control" type="text" placeholder="Cliente" name="customer">
            </div>
            <label class="col-sm-2 col-form-label">Vendedor</label>
            <div class="col-sm-10">
                <input class="form-control" type="text" placeholder="Vendedor" name="agent">
            </div>
        </div>
        <div class="form-group form-capratex">
            <button class="btn btn-primary mt-3" type="submit">Generar Consulta</button>
            <a class="btn btn-primary mt-3" href="{% url 'order:queries_panel' %}">Regresar</a>
        </div>
    </form>

    <div class="form-group form-capratex">
        
    </div>

</div>
{% endblock %}