{% extends "base.html" %}
{% block head_content %}
<title>Orders with query dynamic</title>
{% endblock %}


{% block container %}
<div id="is-edit">
    <div>
        <a class="btn btn-primary mt-3 " @click='showButton'><i class="fas fa-edit"></i> Editar</a>
        <a class="btn btn-primary mt-3" href="{% url 'order:queries_panel' %}">Regresar</a>
    </div>
    <div class="mt-3">
        {% include "paginate.html" %}
        {% include "orders/tables/table_dynamic.html" %}
    </div>
</div>
{% endblock %}

{% load static %}
{% block js_code %}
<script type="text/javascript" src="{% static 'vue/isEdit.js' %}"></script>
{% endblock %}