{% extends "base.html" %}
{% block head_content %}
<title>Orders productos</title>
{% endblock %}


{% block container %}


<div id="is-edit">
    <div>
        <a class="btn btn-primary btn-block mt-5 " @click='showButton'><i class="fas fa-edit"></i> Editar</a>
        <a class="btn btn-primary btn-block mt-5" href="{% url 'order:panel' %}">Regresar</a>
    </div>

    {% include "paginate.html" %}
    {% include "orders/tables/table_products_order.html" %}
</div>

{% endblock %}

{% load static %}
{% block js_code %}
<script type="text/javascript" src="{% static 'vue/isEdit.js' %}"></script>
{% endblock %}