{% extends "base.html" %}
{% block head_content %}
<title>Orders productos</title>
{% endblock %}


{% block container %}


<div>
    {% include "orders/tables/table_orders.html" %}
    <button class="btn btn-primary btn-block mt-5" onclick="alt(1)">Boton de pruebas</button>
</div>

<script>

    function alt(object_list) {
        alert('Mensaje')
        alert(typeof object_list)
    }

    function cleanDate(date) {
        str = String(date).substr(0, 10)
        document.getElementById("date").innerHTML = str
        return str
    }
</script>


{% endblock %}