{% extends "base.html" %}
{% block head_content %}
<title>Orders productos</title>
{% endblock %}


{% block container %}


<div>
    <table>
        <thead>
            <th>Referencia</th>
            <th>Cantidad</th>
        </thead>
        <tbody>
            {% for product in object_list %}
            <tr>
                <td>{{product.reference}}</td>
                <td>{{product.quantity}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

</div>


{% endblock %}