{% extends "base.html" %}
{% block head_content %}
<title>ADD order</title>
{% endblock %}


{% block container %}


<div>
    <div class="options">
        <div class="titles-capratex">
            <h1>Administrados de ordenes</h1>
        </div>
        <form action="{% url 'add_files' %}">
            <button class="btn btn-primary btn-block mt-5" type="submit"> Agregar Archivos</button>
        </form>

        <form action="{% url 'add_order' %}">
            <button class="btn btn-primary btn-block mt-5" type="submit"> Agregar Orden
                Manualmente</button>
        </form>
        <form action="{% url 'oders_products' %}">
            <button class="btn btn-primary btn-block mt-5" type="submit"> Ver productos</button>
        </form>
        <form action="{% url 'orders' %}">
            <button class="btn btn-primary btn-block mt-5" type="submit"> Ver Ordenes</button>
        </form>
    </div>


</div>


{% endblock %}