{% extends "base.html" %}
{% block head_content %}
<title>Ordenes</title>
{% endblock %}


{% block container %}


<div>
    <div class="titles-capratex">
        <h1>Administrador de ordenes</h1>
    </div>

    <div class="album bg-light">
        <div class="album bg-light">
            <div class="container">

                <div class="row">
                    <div class="col-md-4">
                        <div class="card mb-4 box-shadow">
                            <a type="submit" href="{% url 'order:orders' %}" class="btn">
                                <div class="name-button">
                                    <h2 class="menu-option-capratex">
                                        Ver Ordenes
                                    </h2>
                                </div>
                            </a>
                            <div class="card-body text-button">
                                <p class="card-text">Puede ver todas las ordenes que se han registrado en el sistema.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card mb-4 box-shadow">
                            <a type="submit" href="{% url 'order:oders_products' %}" class="btn">
                                <div class="name-button">
                                    <h2 class="menu-option-capratex">
                                        Ver Productos de las Ordenes
                                    </h2>
                                </div>
                            </a>
                            <div class="card-body text-button">
                                <p class="card-text">Puede ver todas los productos de todas las ordenes que se han
                                    registrado en el sistema.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card mb-4 box-shadow">
                            <a type="submit" href="{% url 'order:queries_panel' %}" class="btn">
                                <div class="name-button">
                                    <h2 class="menu-option-capratex">
                                        Consultas
                                    </h2>
                                </div>
                            </a>
                            <div class="card-body text-button">
                                <p class="card-text">Ver todos los reportes relacionados con las ordenes</p>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="card mb-4 box-shadow">
                            <a type="submit" href="{% url 'order:orders' %}" class="btn">
                                <div class="name-button">
                                    <h2 class="menu-option-capratex">
                                        Ver Ordenes
                                    </h2>
                                </div>
                            </a>
                            <div class="card-body text-button">
                                <p class="card-text">This is a wider card with supporting text below as a natural
                                    lead-in to additional content. This content is a little bit longer.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card mb-4 box-shadow">
                            <a type="submit" href="{% url 'order:add_order' %}" class="btn">
                                <div class="name-button">
                                    <h2 class="menu-option-capratex">
                                        Agregar Orden Manualmente
                                    </h2>
                                </div>
                            </a>
                            <div class="card-body text-button">
                                <p class="card-text"></p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card mb-4 box-shadow">
                            <a onclick="confirmAdd()" href="#" class="btn">
                                <div class="name-button">
                                    <h2 class="menu-option-capratex">
                                        Agregar Archivos
                                    </h2>
                                </div>
                            </a>
                            <div class="card-body text-button">
                                <p class="card-text">Ingrese ordenes, recuerde colocar todas las planillas en la carpeta
                                    “files”</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    function confirmAdd() {
        Swal.fire({
            "title": "¿Estas seguro que quieres agregar nuevas ordenes?",
            "text": "Se agregarán todos los archivos que se encuentren en la carpeta 'files'. ",
            "icon": "question",
            "showCancelButton": true,
            "cancelButtonText": "No, Cancelar",
            "confirmButtonText": "Si, Agregar",
            "confirmButtonColor": "#c82333"
        })
            .then((result) => {
                if (result.isConfirmed) {
                    window.location.href = "{% url 'order:add_files' %}"
                }
            })
    }
</script>
{% endblock %}