<div class="tables-capratex">
    <table>
        <thead>
            <th>ID</th>
            <th>ID Pedido</th>
            <th>Referencia</th>
            <th>Color</th>
            <th>Talla</th>
            <th>Cantidad</th>
            <th>Linea</th>
            <th>Marca</th>
            <th>Colección</th>
            <th>Precio Unidad</th>
            <th>Precio Total</th>
            <th>Costo Unidad</th>
            <th>Costo Total</th>
            <th>Estado</th>
        </thead>
        <tbody>
            {% for product in products_order %}
            <tr>
                <td>{{product.id_product_order}}</td>
                <td>{{product.id_order_id}}</td>
                <td>{{product.reference}}</td>
                <td>{{product.color}}</td>
                <td>{{product.size}}</td>
                <td>{{product.quantity}}</td>
                <td>{{product.line}}</td>
                <td>{{product.brand}}</td>
                <td>{{product.collection}}</td>
                <td>{{product.price}}</td>
                <td>{{product.total_price}}</td>
                <td>{{product.cost}}</td>
                <td>{{product.total_cost}}</td>
                <td>{{product.status}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>