<div class="tables-capratex">
    <table>
        <thead>
            <th>Numero de Orden</th>
            <th>Fecha</th>
            <th>Archivo</th>
            <th>Cliente</th>
            <th>Vendedor</th>
            {%if to_edit%}
            <th>Detalle</th>
            <th>Eliminar</th>
            {%endif%}
        </thead>
        <tbody>
            {% for order in orders %}
            <tr>
                <td>{{order.id_order}}</td>
                <td>{{order.date}}</td>
                <td>{{order.file_name}}</td>
                <td>{{order.customer}}</td>
                <td>{{order.agent}}</td>
                {%if to_edit%}
                <td><a class="btn btn-primary btn-block" href="detail_order/{{order.id_order}}">Consultar</a></td>
                <td><a class="btn btn-danger btn-block" href="delete_order/{{order.id_order}}">Eliminar</a></td>
                {%endif%}
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>